<div ng-controller="EmployeesController">
  <div ng-switch="errorsAlert">
    <div ng-switch-when="true" data-alert="" class="alert-box alert">
      <p ng-repeat="error in errors">
        {{ error }}
      </p>
      <a href="" class="close">×</a>
    </div>
  </div>

  <div class="inner-container" ng-init="editEmployee()">
    <h1 class="subheader">{{ employeeLabel }} Employee {{ employeeModel.first_name }}</h1>
    <form ng-submit="update()">

      <div class="row">
        <div class="large-4 columns">
          <label for="employee_first_name">First name <span class='required'>*</span></label>
          <input id="employee_first_name" placeholder='First Name' required ng-model="employeeModel.first_name" size="30" type="text">
        </div>
        <div class="large-4 columns">
          <label for="employee_middle_name">Middle name</label>
          <input id="employee_middle_name" placeholder='Middle Name' ng-model="employeeModel.middle_name" size="30" type="text">
        </div>
        <div class="large-4 columns">
          <label for="employee_last_name">Last name <span class='required'>*</span></label>
          <input id="employee_last_name" placeholder='Last Name' required ng-model="employeeModel.last_name" size="30" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="employee_email">Email <span class='required'>*</span></label>
          <input id="employee_email" placeholder='Email' required ng-model="employeeModel.email" size="30" type="email">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="employee_designation">Job Designation <span class='required'>*</span></label>
          <input id="employee_designation" placeholder='Job Designation' required ng-model="employeeModel.designation" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="employee_dob">Dob</label>
          <select id="employee_dob_1i" ng-model="employeeModel.dob">
            <option value="2008">2008</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <label for="employee_is_married">Is married</label>
          <input ng-model="employeeModel.is_married" type="hidden" value="0"><input id="employee_is_married" ng-model="employeeModel.is_married" type="checkbox" value="1">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="employee_join_date">Join date</label>
          <select id="employee_join_date_1i" ng-model="employeeModel.join_date">
            <option value="2008">2008</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="employee_permanent_address">Permanent Address <span class='required'>*</span></label>
          <input id="employee_permanent_address" placeholder='Last Name' required ng-model="employeeModel.permanent_address" size="30" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="employee_secondary_address">Secondary Address</label>
          <input id="employee_secondary_address" placeholder='Secondary Address' ng-model="employeeModel.secondary_address" size="30" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="employee_phone_1">Mobile Phone <span class='required'>*</span></label>
          <input id="employee_phone_1" placeholder='Mobile Phone' required ng-model="employeeModel.phone_1" size="30" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="employee_phone_2">Home Phone <small>(Secondary)</small></label>
          <input id="employee_phone_2" placeholder='Home Phone' ng-model="employeeModel.phone_2" size="30" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <input name="commit" type="submit" class="button" value="{{ employeeLabel }} Employee">
        </div>
      </div>
    </form>
  </div>
</div>