<div ng-controller="EmployeesController">
  <div ng-switch="errorsAlert">
    <div ng-switch-when="true" data-alert="" class="alert-box alert">
      <p ng-repeat="error in errors">
        {{ error }}
      </p>
    </div>
  </div>

  <div class="inner-container" ng-init="editEmployee()">
    <h1 class="subheader">{{ employeeLabel }} Employee {{ employeeModel.first_name }}</h1>
    <form ng-submit="update()">

      <div class="row">
        <div class="large-4 columns">
          <label for="employee_first_name">First name <span class='required'>*</span></label>
          <input id="employee_first_name" placeholder='First Name' required ng-model="employeeModel.first_name" size="30" type="text">
        </div>
        <div class="large-4 columns">
          <label for="employee_middle_name">Middle name</label>
          <input id="employee_middle_name" placeholder='Middle Name' ng-model="employeeModel.middle_name" size="30" type="text">
        </div>
        <div class="large-4 columns">
          <label for="employee_last_name">Last name <span class='required'>*</span></label>
          <input id="employee_last_name" placeholder='Last Name' required ng-model="employeeModel.last_name" size="30" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="employee_email">Email <span class='required'>*</span></label>
          <input id="employee_email" placeholder='Email' required ng-model="employeeModel.email" size="30" type="email">
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <label for="employee_department_id">Department <span class='required'>*</span></label>
          <select required ng-model="employeeModel.department_id" >
            <option ng-repeat="obj in employeeConstants.departments" value="{{obj.value}}">{{obj.name}}</option>
          </select>
        </div>
        <div class="large-4 columns">
          <label for="employee_designation">Job Designation <span class='required'>*</span></label>
          <select required ng-model="employeeModel.designation" >
            <option ng-repeat="obj in employeeConstants.designations" value="{{obj.value}}">{{obj.name}}</option>
          </select>
        </div>
        <div class="large-4 columns">
          <label for="employee_designation">Job Status <span class='required'>*</span></label>
          <select required ng-model="employeeModel.job_status" >
            <option ng-repeat="obj in employeeConstants.job_status" value="{{obj.value}}">{{obj.name}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <label for="employee_dob">Date of Birth</label>
          <input type="text" ng-model="employeeModel.dob" class="date-picker" data-date-format="yyyy-mm-dd">
        </div>
        <div class="large-4 columns">
          <label>&nbsp;</label><br/>
          <label for="employee_is_married">
            <input ng-model="employeeModel.is_married" type="hidden" value="0"><input id="employee_is_married" ng-model="employeeModel.is_married" type="checkbox" value="1">
            Is married
          </label>
        </div>
        <div class="large-4 columns"></div>
      </div>
      
      <div class="row">
        <div class="large-4 columns">
          <label for="employee_join_date">Join date</label>
          <input type="text" ng-model="employeeModel.join_date" class="date-picker" data-date-format="yyyy-mm-dd">
        </div>
      </div>

      <fieldset>
        <h4 class='subheader'>Permanent Address <span class='required'>*</span></h4>
        <div class="row">
          <div class="large-6 columns" style="padding-left: 0;">
            <input id="employee_permanent_address" placeholder='Address' required ng-model="employeeModel.permanent_address" size="30" type="text">
          </div>
          <div class="large-3 columns">
            <input id="employee_permanent_city" placeholder='City' required ng-model="employeeModel.permanent_city" size="30" type="text">
          </div>
          <div class="large-3 columns">
            <input id="employee_permanent_postal_code" placeholder='Postal Code' required ng-model="employeeModel.permanent_postal_code" size="30" type="text">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <h4 class='subheader'>Secondary Address</h4>
        <div class="row">
          <div class="large-6 columns" style="padding-left: 0;">
            <input id="employee_secondary_address" placeholder='Address' ng-model="employeeModel.secondary_address" size="30" type="text">
          </div>
          <div class="large-3 columns">
            <input id="employee_secondary_city" placeholder='City' ng-model="employeeModel.secondary_city" size="30" type="text">
          </div>
          <div class="large-3 columns">
            <input id="employee_secondary_postal_code" placeholder='Postal Code' ng-model="employeeModel.secondary_postal_code" size="30" type="text">
          </div>
        </div>
      </fieldset>

      <div class="row">
        <div class="large-4 columns">
          <label for="employee_mobile_phone">Mobile Phone <span class='required'>*</span></label>
          <input id="employee_mobile_phone" placeholder='Mobile Phone' required ng-model="employeeModel.mobile_phone" size="30" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="employee_home_phone">Home Phone <small>(Secondary)</small></label>
          <input id="employee_home_phone" placeholder='Home Phone' ng-model="employeeModel.home_phone" size="30" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <input name="commit" type="submit" class="button" value="{{ employeeLabel }} Employee">
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.date-picker').fdatepicker();
  });
</script>