<div ng-controller="DepartmentsController">
  <div ng-switch="errorsAlert">
    <div ng-switch-when="true" data-alert="" class="alert-box alert">
      <p ng-repeat="error in errors">
        {{ error }}
      </p>
    </div>
  </div>

  <div class="inner-container" ng-init="editDepartment()">
    <h1 class="subheader">{{ departmentLabel }} Department {{ departmentModel.name }}</h1>
    <form ng-submit="updateDepartment()">

      <div class="row">
        <div class="large-4 columns">
          <label for="department_name">Department Name <span class='required'>*</span></label>
          <input id="department_name" placeholder='Department Name' required ng-model="departmentModel.name" size="30" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label for="department_description">Description <span class='required'>*</span></label>
          <input id="department_description" placeholder='Description' required ng-model="departmentModel.description" size="30" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <input name="commit" type="submit" class="button" value="{{ departmentLabel }} Department">
        </div>
      </div>

    </form>
  </div>
</div>
