// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.inner-container {
  background: #f7f6f6;
  padding: 15px;
  border: 1px solid #dedede;
}