<div class="inner-container" ng-init="getEmployees()">
  <div class="header">
    <h3>
      Employees List
      <span class="right">
        <a href="#/employee/new" class="button secondary">New Employee</a>
      </span>
    </h3>
  </div>
  <table>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Job Designation</th>
      <th>Join date</th>
      <th>Mobile Number</th>
      <th colspan="2">Actions</th>
    </tr>

    <tr ng-repeat="employee in employees">
      <td>{{ employee.full_name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.designation }}</td>
      <td>{{ employee.join_date }}</td>
      <td>{{ employee.mobile_phone }}</td>
      <td><a href="#/employee/{{ employee.id }}">Show</a></td>
      <td><a href="#/employee/{{ employee.id }}/edit">Edit</a></td>
    </tr>

  </table>
</div>
