<div class="inner-container">
<h1 class="subheader">Sign Up</h1>
  
  <form ng-submit="signup()" class="custom">

    <div class="row">
      <div class="large-6 columns">
        <label for="company_name">Company Name <span class="required">*</span></label>
        <input id="company_name" name="company[name]" ng-model="company.name" placeholder="Company Name" required="required" size="30" type="text">
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <label for="company_website">Website URL <span class="required">*</span></label>
        <input id="company_website" name="company[website]" ng-model="company.website" placeholder="Website URL" required="required" size="30" type="text">
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <label for="company_email">Company Email <span class="required">*</span></label>
        <input id="company_email" name="company[email]" ng-model="company.email" placeholder="Company Email" required="required" size="30" type="text">
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <label for="company_logo">Company Logo <span class="required">*</span></label>
        <input id="company_logo" name="company[logo]" ng-model="company.username" required="required" type="file">
      </div>
    </div>


    <div class="row">
      <div class="large-6 columns">
        <label for="company_logo">Department Name <span class="required">*</span></label>
        <input id="company_departments_attributes_0_name" ng-model="company.username" name="company[departments_attributes][0][name]" required="required" size="30" type="text">
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <label for="company_logo">Department Description <span class="required">*</span></label>
        <input id="company_departments_attributes_0_description" ng-model="company.username" name="company[departments_attributes][0][description]" required="required" size="30" type="text">
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <input name="commit" type="submit" class="button" value="Save">
      </div>
    </div>
  </form> 
</div>