<nav class="top-bar hide-for-small" class="navigation-header">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="/#/employees">
          <%= image_tag( (current_user.employee.company.logo.url rescue "/assets/confiz-logo.png") ) %> HRM
        </a>
      </h1>
    </li>
  </ul>
  <% unless current_user.blank? %>
  <section class="top-bar-section">
    <ul class="right">
      <li class="welcome"><a href="javascript:void(0);">Welcome <%= current_user.employee.full_name %>!</a></li>
      
      <li class="has-dropdown not-click">
        <a href="/companies" class="parent">Companies</a>
        <ul class="dropdown">
          <li class=""><a href="/companies/new">New Company</a></li>
        </ul>
      </li>

      <li class=""><a href="/#/employees">Employees</a></li>
      <li class=""><a href="/#/departments">Departments</a></li>
      
      <li class="dark has-dropdown not-click">
        <a href="javascript:void(0);" class="parent">Account Settings</a>
        <ul class="dropdown">
          <li class=""><a href="/#/employee/<%= current_user.employee.uuid %>">My Profile</a></li>
          <li ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <% end %>
</nav>
