<div ng-switch="showNavigationBar">
  <div class="navigation-header" ng-switch-when="true">
    <nav class="top-bar hide-for-small" data-options="is_hover:false;">
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="<%= (logged_in?) ? "/#/home" : "/#/" %>">
              <%= image_tag("/assets/confiz-logo.png") %>
            </a>
          </h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <% unless current_user.blank? %>
          <li class=""><a href="/#/employees">Employees</a></li>
          <li class=""><a href="/#/departments">Departments</a></li>
          <li ng-controller="EmployeesController">
            <form id="searchEmployees">
              <div class="row collapse">
                <div class="small-8 columns">
                  <input type="text" placeholder="Search Here" name="searchField" ng-model="searchField" ui-keydown="{13:'searchEmployees()'}">
                </div>
                <div class="small-4 columns">
                  <a href="javascript:void(0);" class="button" ng-click="searchEmployees()">Search</a>
                </div>
              </div>
            </form>
          </li>
          <li class="has-dropdown">
            <a href="javascript:void(0);" class="parent"><i class="accessibility fi-torso-business medium"></i>&nbsp;</a>
            <ul class="dropdown">
              <li class="welcome"><a href="javascript:void(0);"><%= current_user.name %>!</a></li>
              <li class="divider hide-for-small"></li>
              <% if current_user.is_admin? %>
              <li class=""><a href="#">Admin Settings</a></li>
              <li class=""><a href="/companies">Companies</a></li>
              <% end %>
              <li class=""><a href="/#/employee/<%= current_user.employee.uuid %>">Account Settings</a></li>
              <li class="divider hide-for-small"></li>
              <li ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
            </ul>
          </li>
          
          <li class="highlighted"><a href="#/employee/new">Add Employee</a></li>
          <% else %>
          <li class=""><a href="/#/">Home</a></li>
          <li class=""><a href="#">About Us</a></li>
          <li class=""><a href="#">Blog</a></li>

          <li class="dark"><a href="/#/login">Sign In</a></li>
          <li class="highlighted"><a href="/companies/new">Sign Up</a></li>
          <% end %>
        </ul>
        
      </section>
      
    </nav>
  </div>
</div>