<div class="navigation-header">
  <nav class="top-bar hide-for-small" data-options="is_hover:false;">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            Foundation Rails UI
          </a>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class=""><a href="/">Home</a></li>

        <li class="dark"><a href="/login">Sign In</a></li>
        <li class="highlighted"><a href="/companies/new">Sign Up</a></li>
      </ul>

    </section>

  </nav>
</div>